site_name: MolGenDocking Documentation
site_description: Molecular Generation and Docking Benchmarks and Datasets
site_url: https://github.com/Fransou/MolGenDocking
site_author: Philippe
repo_url: https://github.com/Fransou/MolGenDocking
repo_name: Fransou/MolGenDocking

theme:
  name: material
  language: en
  logo: assets/logo.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.select
  icon:
    admonition:
      parameter: fontawesome/solid/book
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Datasets:
      - Overview: datasets/main.md
      - De Novo Generation: datasets/generation.md
      - Property Prediction: datasets/prop_prediction.md
      - Retro-Synthesis: datasets/retro_synthesis.md
  - Reward Server:
      - Getting Started: reward_server/getting_started.md
      - Server Configuration: reward_server/server_configuration.md
      - Query / Answer Format: reward_server/query_answer_format.md
      - Server Endpoints: reward_server/endpoints.md
      - Async Reference: reward_server/Server_Asynchronous.md
  - API Documentation:
      - Introduction: api/toc.md
      - Dataset:
        - Receptor Processing: api/data/meeko_process.md
        - Dataset: api/data/dataset.md
      - Evaluation:
        - Top-k Metric: api/evaluation/top_k.md
        - Diversity-Aware Top-k: api/evaluation/diversity_aware_top_k.md
        - Fingerprint Utilities: api/evaluation/fingeprints_utils.md
        - SFT Dataset Creation: api/evaluation/sft_data_creation.md
      - Reward:
        - Molecular Verifier: api/reward/molecular_verifier.md
        - Generation Verifier: api/reward/generation_verifier.md
        - Property Verifier: api/reward/mol_prop_verifier.md
        - Reaction Verifier: api/reward/reaction_verifier.md


plugins:
  - search
  - table-reader
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            docstring_style: google

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - admonition
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
