site_name: MolGenDocking Documentation
site_description: Molecular Generation and Docking Benchmarks and Datasets
site_url: https://github.com/Fransou/MolGenDocking
site_author: Philippe
repo_url: https://github.com/Fransou/MolGenDocking
repo_name: Fransou/MolGenDocking

theme:
  name: material
  language: en
  logo: assets/logo.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.select
  icon:
    admonition:
      parameter: fontawesome/solid/book
    repo: fontawesome/brands/github
extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Datasets:
      - Overview: datasets/main.md
  - Reward Server:
      - Getting Started: reward_server/getting_started.md
      - Server Configuration: reward_server/server_configuration.md
      - Query / Answer Format: reward_server/query_answer_format.md
      - API Reference: reward_server/api.md

plugins:
  - search
  - table-reader

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - admonition
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
