name: publish-docs
on:
  push:
    branches:
      - main
      - docs
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: Install project (make package importable)
        run: |
          pip install --upgrade pip
          pip install -e .
      - name: Install mkdocs and plugins
        run: |
          pip install mkdocs-material mkdocs-table-reader-plugin "mkdocstrings[python]"
      - run: cd docs && PYTHONPATH=$GITHUB_WORKSPACE mkdocs gh-deploy --force
