name: Tests-PIP

on:
  pull_request

jobs:
  test-python:
    runs-on: ubuntu-latest
    permissions: # Job-level permissions configuration starts here
      contents: write           # 'write' access to repository contents
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -U pip
        pip install -U numpy==1.26.4 scipy --prefer-binary
        pip install torch --index-url https://download.pytorch.org/whl/cpu
        pip install .
        pip install --only-binary :all: scikit-learn==1.2.2
        pip list | grep tdc

    - name: Test with pytest
      run: |
        pytest test/test_rewards --skip-docking --start-server
