name: Tests-DOCKER

on:
  pull_request

jobs:
  test-python:
    runs-on: ubuntu-latest
    permissions: # Job-level permissions configuration starts here
      contents: write           # 'write' access to repository contents
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Build
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: fransou/reward:latest
        target: vina
        file: docker/Dockerfile

    - name: Get branch name
      run: echo "BRANCH_NAME=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_ENV

    - name: Install dependencies
      run: |
        pip install -U pip
        pip install pytest pytest-cov coverage coverage-badge

    - name: Test with pytest
      run: |
        rm -rf .coverage
        docker run -v ${PWD}:/tmp fransou/reward bash /tmp/docker/run_docker_test.sh
