name: Tests-DOCKER

on:
  pull_request

jobs:
  test-python:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Pull Docker image
      run: docker pull fransou/molgen:latest

    - name: Get branch name
      run: echo "BRANCH_NAME=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_ENV

    - name: Test with pytest
      run: |
        rm -rf .coverage
        docker run -v ${PWD}:/tmp fransou/molgen:latest bash /tmp/run_docker_test.sh
